<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.secondhome">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.example.secondhome.MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".activities.showanimals.MyAnimalActivity" />
        <activity android:name=".activities.showanimals.EditAnimalForm" />
        <activity android:name=".activities.login.MyProfileActivity" />
        <activity android:name=".activities.showanimals.AnimalProfileActivity" />
        <activity android:name=".activities.showanimals.MyAnimalsActivity" />
        <activity android:name=".activities.locations.ListOfLocations" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".activities.locations.LocationActivity" />
        <activity android:name=".activities.contact.WriteUs" />
        <activity android:name=".activities.showanimals.AnimalsActivity" />
        <activity android:name=".activities.contact.AchievmentsActivity" />
        <activity android:name=".activities.contact.FacilitiesActivity" />
        <activity android:name=".activities.contact.AboutUsActivity" />
        <activity android:name=".activities.showanimals.AddAnimalFormActivity$AboutUsActivity" />
        <activity android:name=".activities.showanimals.AddAnimalFormActivity" />
        <activity android:name=".activities.contact.ContactActivity" />
        <activity android:name=".activities.login.RegisterActivity" />
        <activity android:name=".activities.mains.Main2LoggedInActivity" />
        <activity
            android:name=".activities.login.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".activities.mains.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>