<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.secondhome">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".showanimals.MyAnimalActivity"></activity>
        <activity android:name=".showanimals.EditAnimalForm" />
        <activity android:name=".login.MyProfileActivity" />
        <activity android:name=".showanimals.AnimalProfileActivity" />
        <activity android:name=".showanimals.MyAnimalsActivity" />
        <activity android:name=".locations.ListOfLocations" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".locations.LocationActvity" />
        <activity android:name=".contact.WriteUs" />
        <activity android:name=".showanimals.AnimalsActivity" />
        <activity android:name=".contact.AchievmentsActivity" />
        <activity android:name=".contact.FacilitiesActivity" />
        <activity android:name=".contact.AboutUsActivity" />
        <activity android:name=".showanimals.AddAnimalFormActivity$AboutUsActivity" />
        <activity android:name=".showanimals.AddAnimalFormActivity" />
        <activity android:name=".contact.ContactActivity" />
        <activity android:name=".login.RegisterActivity" />
        <activity android:name=".mains.Main2LoggedInActivity" />
        <activity
            android:name=".login.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".mains.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>